#first{
    background-image: url(/images/bcktop.jpg);
    background-size: cover;
    background-attachment:scroll;
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 200px;
}

#about-us{
    text-align: center;
    padding-top: 75px;
}

#services{
    background-image: url(/images/services.jpg);
    text-align: center;
    padding-top: 75px;
    color: white;
    max-width: 100%;
    height: auto;

}

#wwd{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 50px;
    font-weight: bold;
    
}