#first{
    background-image: url(/images/bcktop.jpg);
    background-size: cover;
    background-attachment:scroll;
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 200px;
}
 
*{
    font-family: 'Domine', serif;
    font-size: medium;
}

#about-us{
    text-align: center;
    padding-top: 75px;
}

#services{
    background-image: url(/images/services.jpg);
    text-align: center;
    padding-top: 75px;
    color: white;
    max-width: 100%;
    height: auto;

}

#wwd{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 50px;
    font-weight: bold;   
}

#portf{
    text-align: center;
}

.portfolio:hover {
	background: white;
    background-color: white;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
    opacity: 0.3;
    transform: scale(1.0);
    transition: opacity 200s ease-in-out;
 }

.portfolio{
    cursor: pointer;
}

#.btn btn-outline-info mt-3{
    padding-top: -10px;
}

#contact{
    padding-left: 40%;
    padding-right: 40%;
}

#contacts {
    background-image: url(https://bit.ly/36o6L62);
    padding-top: 20px;
    height: 50vh;
    color: white;
}

.form {
    justify-content: center;
    display: flex;
}

.rws {
    padding: 2rem;
}

.tt {
    display: none;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1.5em;
    padding:15px 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

  #Name::placeholder, #Email::placeholder, #Text-area::placeholder {
    color: white;
}

#Email, #Text-area, #Name {
    background: transparent;
    color: white;
}

#bottom{
    padding-top: 40px;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;